.App {
  display: grid;
  grid-template-columns: 300px auto;
  height: 100vh;
}

.list-tasks {
  background-color: #191970;
  overflow-y: hidden;
}

.form-task {
  display: flex;
  justify-content: center;
  align-items: center;
}